# Data and Dataset Outputs
src/dataset/
src/data_ingestion/facebook_comments/results/
data/train.csv

# Byte-compiled / Optimized / DLL Files
__pycache__/
*.py[cod]

# Test Files and Coverage Reports
*.pytest_cache
.coverage

# Environment and Configuration Files
.env
google_services.json

# macOS Specific Files
.DS_Store
