version: '3.8'

services:
  nexus:
    image: sonatype/nexus3
    container_name: nexus
    restart: unless-stopped
    ports:
      - "8090:8081"  # Nexus UI
      - "5000:5000"   # Docker Registry (optional)
    volumes:
      - nexus-data:/nexus-data

volumes:
  nexus-data:
